@model BadgeMeUp.Pages.Shared.BadgeWidget

        <div class="card">
            <img src="~/BadgeImage?id=@Model.Badge.Id" class="card-img-top" />
        
            <div class="card-body">
                <h5 class="card-title">@Model.Badge.Name</h5>
                <p class="card-text">
                    @Html.Raw(Badges.IndexModel.EncodeMultilineString(@Model.Badge.Description))
                </p>
                

            </div>
            @if (Model.ShowLinks)
            {
                <div class="card-footer text-center">
                    <a class="btn btn-outline-secondary btn-sm" asp-page="Edit" asp-route-id="@Model.Badge.Id">Details</a>
                    <a class="btn btn-outline-secondary btn-sm" asp-page="Share" asp-route-id="@Model.Badge.Id">Share</a>
                </div>
            }
        </div>