@using BadgeMeUp.Pages.Badges
@model BadgeWidget

<div class="card badge-card">
    <div class="badge-widget card-img-top">
        <div class="overlay"></div>
        <div class="clipping-path">
            @if(!Model.Badge.HideTitleOverlay)
            {
                <div class="title">@Model.Badge.Name</div>
            }
            <div class="background" style="background-image: url('@Model.Badge.BadgeStorageUrl')">&nbsp;</div>
        </div>
    </div>

    <div class="card-body text-center">
        <h5 class="card-title">@Model.Badge.Name</h5>
        <p class="card-text">
            @Html.Raw(IndexModel.EncodeMultilineString(Model.Badge.Description))
        </p>


    </div>
    @if(Model.ShowLinks)
    {
        <div class="text-center">
            <a class="btn btn-outline-secondary btn-sm" asp-page="Edit" asp-route-id="@Model.Badge.Id">Details</a>
            <a class="btn btn-outline-secondary btn-sm" asp-page="Share" asp-route-id="@Model.Badge.Id">Share</a>
        </div>
    }
</div>