@page
@using Humanizer
@model IndexModel
@{
    ViewData["Title"] = "Latest Activity";
}

<h1>Latest Activity</h1>

@foreach(var assignedBadge in Model.BadgeAssignments)
{
    <div>
        <b>
            <a asp-page="badges/Index" asp-route-id="@assignedBadge.User.PrincipalId">@assignedBadge.User.PrincipalName</a>
        </b>
        received the
        <b>
            <a asp-page="badges/Edit" asp-route-id="@assignedBadge.Badge.Id">@assignedBadge.Badge.Name</a>
        </b>
        badge
        @assignedBadge.DateAssigned.Humanize()
    </div>
}