@page
@model BadgeMeUp.Pages.Badges.EditModel

@{
    ViewData["Title"] = "View / Edit";
}

<div class="row">
    <div class="col">
        <h2>Details</h2>
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Badge.Id"/>
            <div class="form-group">
                <label asp-for="Badge.Name" class="control-label"></label>
                <input asp-for="Badge.Name" class="form-control" placeholder="Day of Learning 2050"/>
                <span asp-validation-for="Badge.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Badge.Description" class="control-label"></label>
                <textarea asp-for="Badge.Description" class="form-control" placeholder="Participated in the day of learning"></textarea>
                <span asp-validation-for="Badge.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Badge.Criteria" class="control-label">Optional Criteria</label>
                <textarea asp-for="Badge.Criteria" class="form-control"
                    placeholder="1. Successful Delivery of 2 Engagements
2. Reverse Shadowed"></textarea>
                <span asp-validation-for="Badge.Criteria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Badge.BadgeType" class="control-label"></label>
                <select class="form-select" name="badgeTypeId"
                        asp-items="@(new SelectList(Model.BadgeTypes, "Id", "Name", Model.SelectedBadgeTypeId))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="badgeImage" class="control-label">Upload new banner image (250w x 100h or equal ratio is ideal):</label>
                <input type="file" asp-for="badgeImage" accept="image/*"/>
                <span asp-validation-for="badgeImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary"/>
                <a asp-page="./Delete" asp-route-id="@Model.Badge.Id" class="btn btn-danger">Delete</a>
            </div>
        </form>
    </div>
    <div class="col">
        <h2>History</h2>
        <table class="table">
            <thead>
            <tr>
                <td>From</td>
                <td>To</td>
                <td>Comment</td>
                <td>Actions</td>
            </tr>
            </thead>
            @foreach(var assignment in Model.BadgeHistory)
            {
                <tr>
                    @if(assignment != null)
                    {
                        if(assignment.FromUser == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@assignment.FromUser.PrincipalName</td>
                        }
                        <td>
                            <a asp-page="Index" asp-route-id="@assignment.User.PrincipalId">@assignment.User.PrincipalName</a>
                        </td>
                        <td>@assignment.AwardComment</td>
                        <td>
                            <a asp-page="./DeleteShare" asp-route-id="@assignment.Id" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}